
    <link href="@Url.Content("~/CSS/footer1.css")" rel="stylesheet" type="text/css" />


<div class="row">
<div class="footer">
  <br>
    <p id="p"><span class="p2">  Copyright 2022 - Luis Developer</span> </p>
    <p id="p"><span class="p1">Pagina web desarrollada por: Luis Felipe </span></p>
    <p id="p">Todos derechos reservados</p>
  </div> 
  <div class="row">
    <div class="contenedor">
    <a  href="http://linkedin.com/in/luis-felipe-developer" target="_blank">
    <img  id="imf" src="~/Imagenes/linkedin.png" alt="Linkedin" title="Linkedin">
  </a>
  <a href="mailto:Luisdeveloper2000@gmail.com" target="_blank">
    <img id="imf" src="~/Imagenes/gmail.png" alt="Gmail" title="Gmail">
  </a>
  <a href="https://github.com/Luisfelipe-26" target="_blank">
    <img  id="imf" src="~/Imagenes/github.png" alt="Github" title="GitHub">
  </a>
  
 </div>
  </div>
</div>