
    <link href="@Url.Content("~/CSS/Index.css")" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Inicio - LuisDeveloper";
}
<div id="sec-1"class="imagen">
    <img id="ftpf" src="~/Imagenes/portada.jpg">
</div>

 <div >
        @Html.Partial("Sobre")
    </div>
    <div >
        @Html.Partial("Services")
    </div>