
<link href="@Url.Content("~/CSS/sobre.css")" rel="stylesheet" type="text/css" />

@{
    ViewData["Title"] = "Sobre - LuisDeveloper";
}

<div class="container"> 
    <h4 class="titulo"><b> Perfil</b></h4>
    <div class="row"> 
        <div class="col-md-3">
        <div class="imagen" >
        <div class="conper">
            <img id="img1" src="~/Imagenes/Fotocv2.png" title="Luis Felipe" alt="Mi Foto de Perfil" class="perfil">
        </div> 
        <div class="frame1">
        <img id="img1" src="~/Imagenes/angular.png" title="Angular" alt="Angular" class="mnlogo">
        <img id="img1" src="~/Imagenes/core.png" title="Asp.net Core" alt="Asp.net Core" class="mnlogo">
        <img id="img1" src="~/Imagenes/jvscrip.png" title="Javascript" alt="Javascript" class="mnlogo">
        <img id="img1" src="~/Imagenes/csharp.png" title="CSharp" alt="C#" class="mnlogo">
        <img id="img1" src="~/Imagenes/html.png" title="HTML y CSS" alt="HTML y CSS" class="mnlogo">
        <img id="img1" src="~/Imagenes/sql.png" title="SQL Server" alt="SQL Server" class="mnlogo"> 
        <img id="img1" src="~/Imagenes/mongo.png" title="MongoDB" alt="MongoDB" class="mnlogo">   
    </div>    
    </div>
    </div>
    <div class="col-md-8">
    <h5 >Hola, soy Luis Felipe, un placer conocerte.</h5> 
    <h5  style="margin-top: -5px; color: rgb(220,53,69);">Desarrollador web y de aplicaciones de escritorio.</h5>
    <p id="prf"> Soy un desarrollador Web y manejo el lenguaje de C# y el entorno de .Net.  Desde que empecé como desarrollador web siempre eh tratado de cumplir con los requerimientos necesarios que llevan una página web para desarrollar un buen Back-End y diseñarla acorde a la necesidad de la empresa, creando páginas web representables y acorde al funcionamiento que tendrá dicha página web. </p>
        <p id="prf"> Tengo la capasidad de entender y aprender otras tecnologias para el desarrollo web por mi sentido logico de la programacion.</p>
    <h6>Entorno Web</h6>
        <p id="prf">Para desarrollar paginas Web en el Back-End utilizo C#. <p id="prf"> Para el desarrollo del Front-End utilizo Angular, Boostrap y JavaScript.</p> 
        <p id="prf">Desarrollo Aplicaciones Web con Asp.Net Core / MVC.</p> 
      
        <hr> 
        <h6>Entorno de aplicaciones de Escritorio</h6>
          <P id="prf">Para desarrollo de aplicaciones de escritorio utilizo el lenguaje de 
            programacion C# con Windosw Form.</P>
            <hr>
            <h6>Bases de Datos</h6>
            <p id="prf">Administro y Gestiono las bases de datos utilizando SQL Server, MongoDb y MySQL.</p>

        </div>
    </div>
</div>

